
.Profile{
    position: relative;
    left: 200pt;
}

.Profile h1{
    position: relative;
    left: 50px;
}

.Profile img{
    position: relative;
    left: 130px;

}

.Profile #Tanggal-Lahir{
    position: relative;
    left: 125px;
}
.Profile #Alamat{
    position: relative;
    left: 95px;
}

.Profile #Nomor{
    position: relative;
    left: 100px;
}
.Profile #Email{
    position: relative;
    left: 75px;
}

.Profile #Linkedin{
    position: relative;
    left: 15px;
}